@charset "UTF-8"

body{
  margin: 0;
}
.menubar{
  background-color: black;
  overflow: hidden;
}

.menubar a{
  color: white;
  cursor: pointer;
  display: block;
  float: left;
  padding: 1em 1.5em;
  text-align: center;
  text-decoration: none;
}

.menubar a:hover{
  background-color: gold;
  color: black;
}
.menubar a.active{
  background-color: orange;
  color: black;
}
