@charset "utf-8";

/* text */
body{
    color:white;
    background-color: black;
    text-align: center;
}
.menubar{
  background-color: white;
  overflow: hidden;
}

.menubar a{
  color: red;
  cursor: pointer;
  display: block;
  float: left;
  padding: 1em 1.5em;
  text-align: center;
  text-decoration: none;
}

.menubar a:hover{
  background-color: blue;
  color: black;
}
.menubar a.active{
  background-color: orange;
  color: black;
}
.btn {
  display: inline-block;
  padding: 10px 15px;
  border: none;
  background-color: #007BFF;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #0056b3;
}
