/* ボタンのスタイル */
#toggle-button {
    padding: 10px 20px;
    /* ボタンの余白 */
    background-color:  #fff;
    /* ボタンの背景色 */
    color: #000;
    border: none;
    /* ボーダーを無効にする */
    cursor: pointer;
    /* カーソルをポインターに変更 */
    position: fixed;
    top: 3;
    left: 3;
    z-index: 2;
}
