<head>
    <meta charset="utf-8">
    <title>Rits小町のtodoリスト</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    <style>
        table {
            border-collapse: collapse;
        }

        th,
        td {
            border: 1px solid black;
            padding: 5px;
            text-align: center;
        }
    </style>
</head>

<body>
    <div>
        <h1>選択されたタスクの削除</h1>
        <form action="{% url 'delete' %}" method="POST">{% csrf_token %}
            {% for task in tasks %}
              <p>{{ task.title }}</p>
              <!-- 各タスクのIDを隠しフィールドとしてフォームに追加 -->
              <input type="hidden" name="task_ids" value="{{ task.id }}">
            {% endfor %}
            <!-- 削除の確認用の隠しフィールド -->
            <input type="hidden" name="confirm" value="yes">
            <input type="submit" value="選択したタスクを削除">
            <a href="{% url 'todo_home' %}"><button type="button">ToDoリストに戻る</button></a>
        </form>
    </div>

    </body>

