#calender_head{
  font-size: 35px;
  text-align: center; /* テキストを水平方向に中央に配置 */
}

#calender_head a, #calender_head span {
  display: inline-block; /* テキストが左右中央に配置されるようにする */
  text-align: center; /* テキストを水平方向に中央に配置 */
}

.large-text {
  font-size: 50px; /* 大きさを調整するための適切なサイズに変更 */
}


#content-wrapper {
  margin-right: 0%; /* バーの幅と同じ幅を設定 */
}

td {
  border: 1px solid black;
}

.checkbox {
  width: 20px; /* チェックボックスの幅を設定 */
  height: 20px; /* チェックボックスの高さを設定 */
  background-color: #fff; /* チェックボックスの背景色 */
  border: 1px solid #ccc; /* チェックボックスの境界線 */
  border-radius: 3px; /* チェックボックスの角を丸める */
  cursor: pointer; /* カーソルをポインターに変更 */
}

/* チェックボックスがチェックされた状態を示すスタイル */
.checkbox.checked {
  background-color: #007bff; /* チェックされた場合の背景色 */
  border: 1px solid #007bff; /* チェックされた場合の境界線 */
  color: #fff; /* チェックされた場合のテキスト色 */
}
