.backgroundImage {
    background-image: linear-gradient(transparent 70%, #ffff97 0%);
    background-size: 0 70%;
    background-position: bottom right;
    background-repeat: no-repeat;
    transition: background-size 0.5s ease-out;
}


.textWrapper:hover .backgroundImage {
    background-size: 100% 70%;
    /* 幅(100%=文字の長さ) | 高さ(=線の太さ) */
    background-position: bottom left;
    /* 左下に配置 */
}