/* ボタンのスタイル */
#toggle-button {
    padding: 10px 20px;
    /* ボタンの余白 */
    background-color: #333;
    /* ボタンの背景色 */
    color: #fff;
    /* ボタンのテキスト色 */
    border: none;
    /* ボーダーを無効にする */
    cursor: pointer;
    /* カーソルをポインターに変更 */
}