#menu-bar {
    display: none;
    /* 初期状態では非表示 */
    background-color: #f8f9ce;
    /* メニューバーの背景色 */
    color: #000;
    /* メニューバーのテキスト色 */
    padding: 10px;
    /* メニューバーの内側の余白 */
    width: 40%;
    height: 90%;
    /* メニューバーの高さを設定 */
}

#menu-bar ul {
    list-style: none;
    /* リストスタイルを無効にする */
    padding: 0;
}

#menu-bar ul li {
    margin: 20% 10%;
    /* メニュー項目の上下のマージン */
    font-size: 30px;

    display: flex;
    justify-content: center;
    /* 水平方向に中央揃え */
    align-items: center;
}

#option-button {
    width: 10px; /* 幅を30pxに設定 */
    height: 10px; /* 高さも30pxに設定 */
    margin-right: 10px; /* メニューバーからの間隔を設定 */
}